body {
    background-color: white;
}

#home {
    width: 1440px;
    height: 4202px;
}

#menu {
    width: 1440px;
    height: 4800px;
}

#ordering {
    width: 1440px;
    height: 4489px;
}